/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  /*--blue: var(--blue);*/
  --darkgreen: #2c513c;
  --darkred: #7b1209;
}

*{
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  font-size:16px;
  color:rgb(36, 36, 36);
  text-decoration:none;
}

h1{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 25px;
}

h2{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 25px;
}


header{
  display:flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px
}

.header_logo{
  max-width: 300px;
  height: auto;
}

.header_profile{
  height: 60px;
  width: auto;
}

.logo{
  flex:1;
}


/* FOOTER */
.footer {
  width: 100%;
  background-color: #2e2e2e;
  margin-top: 35px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: rgb(118, 118, 118);
}

.footer_content {
  display: flex;
  align-items: center; /* Zentrieren Sie den Inhalt vertikal */
}

.footer_content img {
  height: 80px;
  margin-right: 10px; /* Optional: Fügen Sie etwas Abstand zwischen dem Bild und dem Text hinzu */
}

/* WELCOME */
.welcome{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, #1b1b1b, #111111);
}

.logo-container {
  text-align: center;
}

.logo-container img {
  width: 400px; /* Breite des Logos */
  height: auto;
}
.welcome_header{
  font-size: 60px;
  color: #2c513c;
}

.welcome_img{
  transition: transform 0.8s ease;
}

.welcome_img:hover{
  transform: scale(1.23);
}


/* HOME */
.box_large_left,.box_large_right, .box_small{
  box-sizing:border-box;
  height:70vw;
  margin-bottom:20px; /*only for smartphone, this will be canceled above 1000px width*/
  position: relative;
}

.nachrichtenbild_titelseite {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease; /* Übergangseffekt für den Zoom */
}

.nachrichtenbild_titelseite:hover {
  transform: scale(1.015); /* Zoom-Effekt beim Hover */
}

.box_large_left h2,.box_large_right h2, .box_small h2{/*added .big_article_vertical h2 for grid*/
  margin:5px 0 10px 0;
}

.box_title{
  color:white;
  margin-bottom:10px;
  padding:3px;
  line-height:100%;
}

.box_title{
  font-size: 48px;
}

.zwei_ueberschriften{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


@media (min-width: 1000px) {
  /* WELCOME */
  .welcome_header{
    font-size: 150px;
  }

  .header_logo{
    max-width: 450px;
  }

  .header_profile{
    height: 80px;
  }

  /* HOME */
  .all_boxes{
    display:grid; /*https://www.youtube.com/watch?v=jV8B24rSN5o*/
    grid-template-columns: 31% 31% 31%;
    grid-auto-rows:32vw; /*https://youtu.be/jV8B24rSN5o?t=713*/
    grid-column-gap:20px;
    grid-row-gap:20px;
    justify-content: center;/*Breite ist ungefähr 99 prozent, deshalb zentrieren wir alles*/
  }

  .box_large_left, .box_large_right, .box_small{
    margin-bottom: 0px;
  }

  .box_large_left{
    height:auto;/*resetting height value from 70vw to default value*/
    grid-column:1/3;  /* 1/3 bedeutet: von der ersten Vertikalen Fugen bis zur dritten vertikalen Fuge*/
  }

  .box_large_right{
    height:auto;/*resetting height value from 70vw to default value*/
    grid-column:2/4;  /* 1/3 bedeutet: von der ersten Vertikalen Fugen bis zur dritten vertikalen Fuge*/
  }

  .box_small{
    height:auto;/*resetting height value from 70vw to default value*/
  }
}

/* LOGIN */
.login{
  display:flex;
  justify-content: center;
  align-items: center;
}

.login_box{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
  border:1px solid rgb(5, 48, 4);
  border-radius:10px;
  margin:20px;
}

/* BUTTON */
.button {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--darkgreen);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--darkgreen);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 35px;
  outline: none;  
  padding: auto;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: var(--darkgreen);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

/* INPUT */
.inputField {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #333;
  display: block;
  font-size: 16px;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 0 10px;
  width: 100%;
  min-width: 320px;
}

/* LOGGER */
.fish {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.fish div {
  text-align: center;
}

.fish_img {
  width: 100px;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
} 

.fish_text {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 700;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 5px solid #2c513c;
  border-radius: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  }
  
  select {
    width: 90%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
  }

  input {
    width: 90%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
  }

  /* Styling für die Tabelle */

  table {
    width:90%;
    margin-left:auto;
    margin-right:auto;
  }
  
  table, td, tr, th {
    text-align: center;
  }
  
  td, tr, th {
    padding:8px;
  }

  
  /* Head of the table */
  th {
    background:#eee;
    font-weight: bold;
    height: 50px;
  }
  
  .button_col{
      border: none;
      background-color: white;
    }
  
    
  .button_table_green {
    background-color: transparent;
    border: 2px solid var(--darkgreen);
    border-radius: 15px;
    color: var(--darkgreen);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
  }

  .button_table_green:hover {
    color: #fff;
    background-color: var(--darkgreen);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button_table_green:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .button_table_red {
    background-color: transparent;
    border: 2px solid var(--darkred);
    border-radius: 15px;
    color: var(--darkred);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
  }

  .button_table_red:hover {
    color: #fff;
    background-color: var(--darkred);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button_table_red:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .table_input {
    height: inherit;
    text-align: center;
  }
  
  /* TABLE MOBILE VIEW */
  @media (max-width: 1200px)  {

    thead {
      display:none;
    }
  
    tr {
      width: 100%;
      margin-bottom: 3em;
    }
  
    td {
      float: left;
      width: 100%;
      padding:0.2em;
      display: flex; /* Verwenden von Flexbox */
      align-items: center; /* Vertikal zentrieren */
      flex-direction: column; /* Flex-Richtung auf Spalte setzen */
    }
  
    td::before {
      content:attr(data-label);
      word-wrap: break-word;
      background: #ffffff;
      width: 160px;
      float:left;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .table_input {
      width: 70%;
      text-align: center;
      margin-top: 0;
    }

    .table_block {
      background-color: #f2f2f2;
    }

    .button_col {
      padding-top: 0px;
    }
    
    .button_table_red {
      margin-bottom: 30px
    }
  } 

  /* HOW TO */
  .howto {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.howto_article {
  margin-bottom: 20px;
}

.howto_img {
  max-width: 50%; /* Maximale Breite des Bildes auf 100% festlegen */
  min-width: 450px;
  height: auto; /* Automatische Höhe beibehalten */
}

/* STATS */
.stats {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}


.stats_box {
  width: 20%;
  min-width: 350px; 
  margin: 10px;
  padding: 15px; 
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 15px;
}

.stats_box_small {
  width: 15%;
  min-width: 200px; 
  margin: 10px;
  padding: 15px; 
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 15px;
}


/* ACCOUNT */

.form-widget {
  max-width: 400px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid var(--darkgreen);
  border-radius: 15px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;}
  
  .form-group {
    width: 360px;
    display: flex;
    flex-direction: column; /* Arrange label and input vertically */
    align-items: center; /* Center items horizontally */
    margin-bottom: 15px; /* Add some space between form groups */
  }

.form-widget input{
  text-align: center;
  width: 350px;
  height: inherit;
}

.form-widget label{
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;}

.form-widget button{
  width: 50%;
  height: 50px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: var(--darkgreen);
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;}




